.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 93px;
    max-width: 1240px;
    margin: 0 auto 96px;
    padding: 0 20px;

    &__description {
        max-width: 737px;
        text-align: center;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 50px;
        line-height: 62px;
        letter-spacing: 0.02em;
    }

    &__text {
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.01em;
    }

    &__project-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 56px;
    }
}